body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #897B6E;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(55, 90, 99, 0);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.feather {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
  box-shadow: none;
}

.bg-dark {
    background-color: #897B6E !important;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 7rem;

  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #897B6E;
    line-height: 1.125rem;
}

.sidebar .nav-link .feather {
        margin-right: 4px;
        color: #897B6E;
    }

.sidebar .nav-link.active {
        font-weight:bold;
}



.nav-item .nav-link:first-child {margin-top:1rem;}

.sidebar .nav-link:hover .feather {
  color: #fff;
}

.sidebar-heading {
    font-size: 1.125rem;
    text-transform: uppercase;
    color: #897B6E !important;
}
.link-secondary, .link-secondary :focus {
    color: #897B6E;
}
.link-secondary :hover{
    color: #fff;
}
#sidebarMenu {
        background-color: #E1CFAE !important;
}


/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    line-height: 1.125rem;
    background-color: #897B6E;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}
.navbar-brand:hover{
    color: #f5f5f5 !important;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
  
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
}

.form-control-dark {
  
  font-size: 1.125rem;
  background-color:#ffffff;
  border-color: rgba(255, 255, 255, .1) !important;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .25);
}

/* main */

.border-bottom {
  border-bottom: 1px solid #897B6E !important;
}

h2, .h2 {margin-top: 1rem; margin-bottom: 1rem;}

#myChart {font-size:1rem !important;}

/* buttons */
.btn-outline-secondary {
    color: #897B6E;
    border-color: #897B6E;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus {
        color: #fff;
        background-color:#897B6E;
        border-color: #897B6E;
}

.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
  -webkit-box-shadow: none;
  box-shadow:  none;
}
    .btn-check:checked + .btn-outline-secondary:focus,
    .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
/* table */

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #897B6E;
  --bs-table-striped-bg: rgba(245, 245, 245, 1);
  --bs-table-active-color:   color:#ffffff;
  --bs-table-active-bg: rgba(178, 80, 65, 1);
  --bs-table-hover-color: color:#ffffff;
  --bs-table-hover-bg: rgba(178, 80, 65, 1);
  width: 100%;
  margin-bottom: 1rem;
  color: #375a63;
  vertical-align: top;
  border-color: #f5f5f5;
  font-size:1.125rem !important;
}

thead {
    color: #C5A97F;
    font-size: 1.5rem !important;
}
tbody {font-size:1.125rem !important;}